<style>
    #map {
        width: 100%;
        height: 400px;
    }

    .bg-map {
        background: linear-gradient(to right, #56b9b2 0%, #56b9b2 30%, #56af94 70%, #56af94 100%);
    }

    .ya-map-c {
        margin: 40px;
    }

    .ya-map {
        border: 2px solid #56af94;
    }
</style>
<div class="index-content">
    <div class="page-title"><h2>Карта участков для прохождения переписи населения</h2></div>
    <div class="page-descr">Интерактивная карта показывает актуальные точки для прохождения переписи населения</div>
</div>

<div class="ya-map-c">
    <div class="ya-map">
        <div class="mapgray" id="map"></div>
    </div>
</div>
