@model TheHermes.Models.FormForCreateClaimModel
@using (Html.BeginForm("CreateClaim", "Claim", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <label>Выбранный тип проблемы</label>
            <select class="form-control" id="claimSelect">
                @foreach (var e in Model.ListClaimType)
                {
                    <option value="@e.Id">@e.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <label>Сопроводительное письмо</label>
            <textarea class="form-control" id="accompanyingMessage" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <button type="button" onclick="CreateClaim()" class="btn btn-outline-primary">Создать заявку по проблеме</button>
        </div>
    </div>
}